[flake8]
max-line-length = 99
exclude =
    yumi_ros2,
    yumi_rws_interface/scripts/archive,
    yumi_egm_interface/yumi_egm_interface/egm_pb2.py
ignore =
    C403,
    C414,
    D100,
    D101,
    D102,
    D103,
    D107,
    D200,
    D204,
    D205,
    D400,
    D401,
    D406,
    D407,
    D413,
    D415,
    E127,
    E128,
    E221,
    E226,
    E241,
    E272,
    E303,
    E305,
    E501,
    E702,
    E722,
    I100,
    I101,
    I201,
    Q000,
    W291,
    W292,
    W293,
    W503
